MINIO_ACCESS_KEY=userkey
MINIO_SECRET_KEY=secretkey
MINIO_PORT=9000
MINIO_IP=localhost
MINIO_BUCKET=bucket

MONGO_USERNAME=mongo
MONGO_ROOT_PASSWORD=mongo
MONGO_PORT=8000
MONGO_IP=localhost
MONGO_DB=db

API_PORT=8001